*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}


.titulo{
    display: flex; 
    align-items: center;
    padding: 12px; 
    justify-content: space-between; 
    background-color: coral;
} 

.buscar{
    display: flex; 
    width: 100px; 
    height: 20px;
} 

.thumbnail{
    display: flex; 
    flex-direction: column; 
    width: 300px; 
    justify-content: center;
    padding: 20px;
} 

main{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
}